{% extends 'base_site.html' %}
{% load static %}


{% block style %}
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css'>
{% endblock %}


{% block slide %}
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"></rect>
                    <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                </svg>
            </div>

            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#666"></rect>
                    <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                </svg>
            </div>

            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#555"></rect>
                    <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                </svg>
            </div>
        </div>
    </div>
{% endblock %}


{% block main_content %}
    <div class='mb-3 card'>
        <div class='card-header d-flex align-items-center justify-content-between'>
            <h5 class='my-2'>
                <i class='header-icon lnr-charts icon-gradient bg-happy-green'> </i>
                Best Choice
            </h5>

            <div class='align-items-right my-2'>
                <div class='navbar-nav ml-auto'>
                    <button class='nav-item btn btn-primary' type='button'>View All</button>
                </div>
            </div>
        </div>

        <div class='card-body'>
            Find Best Choice List
        </div>

        <div class='text-center d-block p-3 card-footer'>
            <button class='btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg'>
                        <span class='mr-2 opacity-7'>
                            <i class='icon icon-anim-pulse ion-ios-analytics-outline'></i>
                        </span>

                <span class='mr-1'>View Complete Report</span>
            </button>
        </div>
    </div>

    <div>
        <div class='vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column'>
            {% for category in categories %}
                <div class='vertical-timeline-item vertical-timeline-element mb-4'>
                    <div class='vertical-timeline-element-icon bounce-in'>
                        <div class='timeline-icon {% if forloop.counter0|divisibleby:4 %}border-danger{% elif forloop.counter|divisibleby:4 %}border-primary{% elif forloop.counter|add:1|divisibleby:4 %}border-success{% else %}border-warning{% endif %}'>
                            <i class='pe-7s-user-female'></i>
                        </div>
                    </div>

                    <div class='vertical-timeline-element-content bounce-in row'>
                        <div class='col-1'>
                            <h4 class='timeline-title'>{{ category }}</h4>
                            <a href="{% url 'products' category.id %}">바로가기 &gt</a>
                        </div>
                        <div class='col-11 card container-fluid'>
                            {% with item=category %}
                                {% include 'partials/_products.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'></script>
    <script>
        $(document).ready(function () {
            $('.dataTable').DataTable();
        });

    </script>
{% endblock %}
