<div class="row">
    <div class="col-3" data-vendor-item-id="5393918167">
        <img width="160" height="160" src="//thumbnail7.coupangcdn.com/thumbnails/remote/160x160ex/image/retail/images/2019/10/01/17/0/4dae53db-6bb6-4c74-a683-7aae5109d961.jpg" onerror="this.src=&quot;//t1a.coupangcdn.com/thumbnails/remote/160x160/image/coupang/common/no_img_1000_1000.png&quot;" alt="">
    </div>

    <div class="col-3" data-vendor-item-id="5393918167">
        <img width="160" height="160" src="//thumbnail7.coupangcdn.com/thumbnails/remote/160x160ex/image/retail/images/2019/10/01/17/0/4dae53db-6bb6-4c74-a683-7aae5109d961.jpg" onerror="this.src=&quot;//t1a.coupangcdn.com/thumbnails/remote/160x160/image/coupang/common/no_img_1000_1000.png&quot;" alt="">
    </div>

    <div class="col-3" data-vendor-item-id="5393918167">
        <img width="160" height="160" src="//thumbnail7.coupangcdn.com/thumbnails/remote/160x160ex/image/retail/images/2019/10/01/17/0/4dae53db-6bb6-4c74-a683-7aae5109d961.jpg" onerror="this.src=&quot;//t1a.coupangcdn.com/thumbnails/remote/160x160/image/coupang/common/no_img_1000_1000.png&quot;" alt="">
    </div>
    
    <div class="col-3" data-vendor-item-id="5393918167">
        <img width="160" height="160" src="//thumbnail7.coupangcdn.com/thumbnails/remote/160x160ex/image/retail/images/2019/10/01/17/0/4dae53db-6bb6-4c74-a683-7aae5109d961.jpg" onerror="this.src=&quot;//t1a.coupangcdn.com/thumbnails/remote/160x160/image/coupang/common/no_img_1000_1000.png&quot;" alt="">
    </div>
</div>